[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
flask-cors = "*"
bson = "*"
pymongo = "*"
memoize = "*"
pika = "*"

[requires]
python_version = "3.8"

[dev-packages]
